// --------------------------------------------------------------------------
// Task
// --------------------------------------------------------------------------


// .task__scrollbar {
// 	max-height: 75vh;
// 	min-height: 500px;
// 	overflow: hidden;
// 	overflow-y: auto;
// 	&.scroll-wrapper {
// 		margin: -30px -30px -30px 0;
// 		.scroll-content {
// 			padding: 30px 0;
// 		}
// 	}
// 	// margin: -20px;
// 	// padding: 20px 0;
// }


.task {
	display: inline-block;
	vertical-align: top;
	min-width: 100%;
	letter-spacing: -0.3px;
	.back {
		top: 0;
		margin: 0 0 20px;
	}
	@include breakpoint(sm) {
		.back {
			display: none;
		}
	}
}


.task__container {
	display: inline-block;
	vertical-align: top;
	// min-width: 100%;
	display: flex;
	position: relative;
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 320px;
		background: #e6e6e6;
		width: 1px;
	}
	@include breakpointMax(sm) {
		display: block;
		&:after {
			display: none;
		}
	}
}

.task__sidebar {
	width: 320px;
	padding: 30px 20px 0 0;
	position: relative;
	float: left;
	.tabs {
		padding: 0;
		margin: 0;
	}
	.tabs__ctrl {
		margin: 0;
		position: absolute;
		top: 0;
		left: 0;
		right: 20px;
		white-space: nowrap;
		background: #fff;
		z-index: 220;
		&:after {
	        content: '';
	        position: absolute;
	        top: 100%;
	        left: 0;
	        width: 100%;
	        height: 30px;
	        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	        z-index: 200;
	        margin: 1px 0 0;
	    }
	}

	.scroll-wrapper {
		max-height: calc(70vh);
		margin: 0 -20px -30px -30px;
		padding: 0;
		&:after {
			display: none;
		}
	}
	.scroll-content {
		padding: 30px 20px 30px 30px;
	}

	@include breakpointMax(sm) {
		width: auto;
		padding: 0;
		float: none;
		margin: 0 0 30px;
		.tabs__ctrl {
			visibility: hidden;
		}
		.tabs__panel {
			position: relative;
			opacity: 1;
			visibility: visible;
			transition: none;
		}
		.scroll-wrapper {
			max-height: none;
			margin: 0;
			overflow: visible;

		}
		.scroll-content {
			padding: 0;
			overflow: visible;
			max-height: none !important;
			height: auto !important;
		}
	}
	
}

.task__content {
	padding: 0 20px 20px;
	// overflow: hidden;
	flex: 1;
	hr {
		margin: 30px 0;
	}
	.scroll-wrapper {
		max-height: calc(70vh + 50px);
		margin: -20px -50px -50px -20px;
	}
	.scroll-content {
		padding: 20px 20px 30px;
	}
	@include breakpointMax(sm) {
		padding: 0;
		.scroll-wrapper {
			max-height: none;
			margin: 0;
			overflow: visible;
			&:after {
				display: none;
			}
		}
		.scroll-content {
			padding: 0;
			overflow: visible;
		}
	}
}


.task__heading {
	display: block;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	letter-spacing: 0.5px;
	margin: 0 0 20px;
	@include breakpoint(sm) {
		margin: 0 0 30px;
	}
}

.task__dl {
	margin: 0;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.3px;
	dt {
		display: block;
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		margin: 0 0 5px;
	}
	dd {
		display: block;
		margin: 0 0 20px;
		&:last-child {
			margin: 0;
		}
	}
	b {
		font-size: 20px;
		line-height: 24px;
		display: block;
		 color: #f0605f;
	}
	a {
		font-weight: 600;
	}
}

.task__date {
	transition: 0.25s;
	float: right;
	font-size: 13px;
	line-height: 16px;
	color: #232221;
	border-bottom: 1px dashed #232221;
	opacity: 0.5;
	position: relative;
	display: block;
	&:hover {
		color: #232221;
		opacity: 1;
		.task__date-tooltip {
			opacity: 1;
			visibility: visible;
			transform: translate(0,0);
		}
	}
	@include breakpointMax(sm) {
		display: none;
	}
}

.task__date-tooltip {
	position: absolute;
	bottom: 100%;
	right: 0;
	background: #A1A1A1;
	border-radius: 4px;
	padding: 7px 10px;
	color: #fff;
	white-space: nowrap;
	margin: 0 0 5px;
	opacity: 0;
	visibility: hidden;
	transition: 0.25s;
	transform: translate(0,-5px);
	&:after {
		content: '';
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #A1A1A1;
		display: block;
		position: absolute;
		top: 100%;
		right: 25px;
	}
}


.task-order {
	display: inline-block;
	vertical-align: top;
	width: 100%;
}

.task-order__info {
	margin: 0 0 20px;
	@include breakpoint(sm) {
		margin: 0;
	}
}

.task-order__more {
	float: right;
	font-weight: 600;
	position: relative;
	top: 4px;
}

.task-order__number {
	display: block;
	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
	letter-spacing: 0.5px;
	margin: 0 0 10px;
	mark {
		font-weight: 700;
		color: #f0605f;
	}
}

.task-order__status {
	display: block;
	margin: 0 0 5px;
	[class^="icon-"] {
		margin: 0 5px 0 0;
	}
}

.task-order__date {
	display: block;
	opacity: 0.7;
	margin: 0 0 5px;

}

.task-order__table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 10px 0 20px;
	th, td {
		position: relative;
		z-index: 1;
		vertical-align: top;
		height: 70px;
		padding: 15px 5px;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
	tbody tr:first-child {
		th:after, td:after { display: none; }
	}
	tbody th, tbody td {
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 1px;
			background: #e6e6e6;
			z-index: -1;
		}
	}
	tfoot th, tfoot td {
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: -30px;
			right: -20px;
			height: 1px;
			background: #e6e6e6;
			z-index: -1;
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: -30px;
			right: -20px;
			background: #f9f9f9;
			z-index: -1;
		}
	}
	@include breakpointMax(sm) {
		tfoot th, tfoot td {
			&:after, &:before {
				right: -30px;
			}
		}
	}
}


.task-order__payment {
	display: block;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.1px;
	margin: 0;
}

.task-order__payment-text {
	display: block;
}

.task-order__payment-title {
	display: block;
	font-weight: 700;
}

.task-order__payment-status {
	display: block;
	[class^="icon-"] {
		margin: 0 4px 0 0;
	}
}


.task-order__total {
	display: block;
	text-align: right;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	letter-spacing: 1.1px;
	margin: 0;
	small {
		display: block;
		font-size: 14px;
		line-height: 17px;
  		letter-spacing: -0.3px;
	}
}


// ------

.task-client {
	margin: 0;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.3px;
	dt {
		display: block;
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		margin: 0 0 5px;
	}
	dd {
		display: block;
		margin: 0 0 20px;
		&:last-child {
			margin: 0;
		}
	}
	a {
		font-weight: 600;
	}
}

.is-open {

}


.task-data {
	display: block;
	position: relative;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.3px;
	border-radius: 4px;
	border: solid 1px transparent;
	padding: 10px 20px;
	margin: 0 0 0 -20px;
	transition: 0.25s;
	&.is-open {
		background-color: #f5f7f9;
		border-color: #e8eef0;
		.task-data__input {
			background-color: #ffffff;
  			border: solid 1px #e0e6ec;
  			margin: 0 0 10px;
  			padding: 12px;
		}
		.task-data__ctrl {
			display: block;
		}
	}
	&:hover {
		.task-data__trigger {
			opacity: 1;
		}
		
	}
}

.task-data__trigger {
	display: block;
	border: none;
	padding: 0;
	position: absolute;
	top: 5px;
	right: 5px;
	background: none;
	color: rgba(#5b738b,0.4);
	transition: 0.25s;
	opacity: 0;
	cursor: pointer;
	&:hover {
		color: rgba(#5b738b,0.8);
	}
}

.task-data__label {
	display: block;
	font-size: 12px;
	line-height: 15px;
	font-weight: 600;
	text-transform: uppercase;
}

.task-data__input {
	display: block;
	width: 100%;
	font: 400 14px/17px $fontBase;
	letter-spacing: 0.3px;
	color: #232221;
	border-radius: 4px;
	padding: 0;
	border: 1px solid transparent;
	background: none;
	margin: 0;
	&:focus {
        border-color: #b0bbc2;
        box-shadow: 0 6px 11px 0 rgba(0,0,0,.13);
    }
}

.task-data__input--orange {
	font-weight: 600;
	color: $linkColor;
}

.task-data__ctrl {
	display: none;
	overflow: hidden;
	margin: 0 0 -10px;
	.btn {
		float: left;
		margin: 0 10px 10px 0;
		&:last-child {
			margin-right: 0;
		}
	}
}

// -----


.task-collapse {
	border-top: 1px solid #d9e1e9;
	border-bottom: 1px solid #d9e1e9;
	margin: 0 -10px -1px;
	@include breakpoint(sm) {
		border: none;
		margin: 0;
	}
}


.task-collapse__trigger {
	display: block;
	border: none;
	background-color: #f7f8fa;
	color: rgba(#000, 0.4);
	font: 600 14px/17px $fontBase;
	padding: 15px 10px;
	position: relative;
	min-width: 100%;
	width: auto;
	text-align: left;
	cursor: pointer;
	[class^="icon-"] {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translate(0,-50%);
		transition: 0.25s;
	}
	@include breakpoint(sm) {
		display: none;
	}
}

.task-collapse__content {
	display: none;
	padding: 0 10px;
	@include breakpoint(sm) {
		padding: 0;
		display: block !important;
	}
}


.is-open {
	.task-collapse__trigger {
		background: none;
		[class^="icon-"] {
			transform: rotate(-180deg);
		}
	}
}