// --------------------------------------------------------------------------
// Tracking
// --------------------------------------------------------------------------

.tracking {
	background: #fff;
	padding: 40px 0 0 0;
}

.tracking-heading {
	display: none;
	@include breakpoint(lg) {
		display: block;
		font-size: 24px;
		line-height: 30px;
		font-weight: 400;
		letter-spacing: -0.6px;
		color: #000000;
		margin: 0 0 20px;
	}
	
}



.tracking-group {
	@include breakpoint(md) {
		padding: 0 90px;
	}
	@include breakpoint(lg) {
		padding: 5px 0;
		display: flex;
	}
}

.tracking-step {
	display: block;
	position: relative;
	padding: 0 0 15px 30px;
	min-width: 200px;
	&.is-active {
		.tracking-step__progress {
			background: linear-gradient(to bottom, rgba(#00d46d,1) 0%,rgba(#dddddd,1) 55%,rgba(#dddddd,1) 100%);
		}
		& ~ .tracking-step {
			.tracking-step__progress {
				background: #dddddd;
			}
			.tracking-step__circle {
				border-color: #dddddd;
			}
			.tracking-step__title {
				opacity: 0.4;
			}
		}
	}
	&:last-of-type {
		.tracking-step__progress {
			height: 0;
		}
	}
	@include breakpoint(lg) {
		padding: 0 0 15px;
		&.is-active {
			.tracking-step__progress {
				background: linear-gradient(to right, rgba(#00d46d,1) 0%,rgba(#dddddd,1) 55%,rgba(#dddddd,1) 100%);
			}
		}
		&:first-of-type {
			min-width: 420px;
		}
		&:last-of-type {
			.tracking-step__progress {
				height: 5px;
				width: 0;
			}
		}
	}
}

.tracking-step__title {
	display: block;
	font-size: 18px;
	line-height: 21px;
	font-weight: 700;
	letter-spacing: 0.4px;
	color: #232221;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 44px;
	margin: 0 0 22px;
	small {
		display: block;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.4px;
	}
}

.tracking-step__progress {
	display: block;
	width: 7px;
	position: absolute;
	top: 31.5px;
	left: 8px;
	bottom: -32px;
	background: #00d46d;
	@include breakpoint(lg) {
		position: relative;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 5px;
		margin: 0 0 25px;
	}

}

.tracking-step__circle {
	display: block;
	position: absolute;
	top: -10.5px;
	left: 50%;
	margin: 0 0 0 -10.5px;
	width: 21px;
	height: 21px;
	background: #fff;
	border: 7px solid #00c731;
	border-radius: 50%;
	@include breakpoint(lg) {
		top: 50%;
		left: 0;
		width: 25px;
		height: 25px;
		border-width: 4px;
		margin: -12.5px 0 0;
	}
}


.tracking-step__list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 14px;
	line-height: 17px;
	color: rgba(#232221,0.4);

	& > li {
		position: relative;
		padding: 0 0 0 20px;
		margin: 0 0 15px;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 1px;
			left: 0;
			width: 14px;
			height: 14px;
			background: url(../svg/icon-clock.svg) 0 0 no-repeat;
		}
		&.is-active {
			color: #232221;
			&:after {
				width: 15px;
				height: 11px;
				top: 4px;
				background: url(../svg/icon-check.svg) 0 0 no-repeat;
			}
		}
	}
	@include breakpoint(sm) {
		min-width: 220px;
		max-width: 320px;
	}
	@include breakpoint(lg) {
		margin: 0 0 0 5px;
		min-width: auto;
		max-width: 220px;
	}
}