//- --------------------------------------------------------------------------
//- Footer
//- --------------------------------------------------------------------------
.container-fluid
	p.copyright © Вельвет-ПРО
	nav.footer__nav
		ul.footer__nav-menu
			li
				a(href="#").footer__nav-link О компании
			li
				a(href="#").footer__nav-link Доставка и оплата
			li
				a(href="#").footer__nav-link Блог
			li
				a(href="#").footer__nav-link Контакты


