// --------------------------------------------------------------------------
// Buttons
// --------------------------------------------------------------------------



.btn {
	font: 600 14px/17px $fontBase;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	border: 1px solid transparent;
    letter-spacing: 0.3px;
	padding: 11px 18px;
	border-radius: 5px;
	text-decoration: none;
	transition: 0.25s;
	text-align: center;
	cursor: pointer;
	// min-width: 124px;
	[class^="icon-"] {
		margin-right: 5px;
		top: -2px;
	}
	&:after {
		content: '';
		display: block;
		width: 22px;
		height: 22px;
		border: 2px solid #fff;
		border-radius: 10px ;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -10px 0 0 -10px;
		border-left-color: transparent;
		visibility: hidden;
	}
	&:hover {
		text-decoration: none;
	}
	&:active {
		transition: none;
		transform: translate(0,1px);
	}
	&.is-loading {
		color: transparent;
		&:hover {
			color: transparent;
		}
		&:after {
			visibility: visible;
			animation: loading 0.5s linear infinite;
		}
		
	}
}


.btn--small {
	padding: 5px 15px;
	font-weight: 400;
	&:after {
		width: 16px;
		height: 16px;
		margin: -8px 0 0 -8px;
		border-width: 1px;
	}
}

.btn--large {
	padding: 15px 30px;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
	
}

.btn--block {
	width: 100%;
}

.btn--white {
	background: #fff;
	color: #f0605f;
	box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.04);
	&:hover {
		background: #f0605f;
		color: #fff;
		box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15);
	}
}

.btn--red__empty {
	background: none;
	border-color: #d64544;
	color: #d64544;
	&:hover {
		background: #f0605f;
		color: #fff;
	}
}

.btn--red {
	background: #f0605f;
	color: #fff;
	&:hover {
		background: #d64544;
		color: #fff;
	}
	mark {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		top: -1px;
		font-size: 14px;
		line-height: 25px;
		letter-spacing: 0;
		border-radius: 100px;
		background: #fff;
		padding: 0 4px;
		min-width: 30px;
		text-align: center;
		color: #f0605f;
		margin: -6px 0 -6px 10px;
	}
}


.btn--more {
	background: #b6b6b6;
	color: #fff;
	&:hover {
		background: #6E6E6E;
		color: #fff;
	}
}


.btn--grey {
	background: rgba(0, 0, 0, 0.04);
	border-color: rgba(0, 0, 0, 0.04);
	color: #909090;
	&:hover {
		// background: #f0605f;
		// border-color: #f0605f;
		// color: #fff;
		border-color: #DBDBDB;
		background: #DBDBDB;
		color: #909090;
	}
}



.btn--green {
	background: #00c731;
	color: #fff;
	&:hover {
		background: #00ac4f;
		color: #fff;
	}
}



.btn-check {
	display: inline-block;
	position: relative;
	margin: 0;
	.icon-calendar {
		margin: 0 -5px;
	}
	.form-datepicker {
	
		&:after {
			// right: 50%;
			margin-right: 6px;
			// left: 14px;
		}
	}
}

.btn-check__selected {
	position: absolute;
	top: 0;
	left: 100%;
	border: none;
	background: none;
	padding: 0;
	color: #909090;
	font-size: 14px;
	line-height: 29px;
	transition: 0.25s;
	width: 80px;
	opacity: 0;
	visibility: hidden;
	text-align: center;
	@include breakpointMax(xs) {
		display: none;
	}
}

.btn-check__input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	&:checked ~ .btn--grey {
		background: #f0605f;
		border-color: #f0605f;
		color: #fff;
	}
	&:checked ~ .btn--dark {
		background: #6e6e6e;
		border-color: #6e6e6e;
		color: #fff;
	}
	&:checked ~ .btn-check__selected {
		opacity: 1;
		visibility: visible;
	}

	&:disabled ~ .btn--grey {
		background-color: rgba(0, 0, 0, 0.04);
  		border: solid 1px #dbdbdb;
  		color: #909090;
  		opacity: 0.5;
  		transform: translate(0,0);
  		cursor: default;
	}
	&:disabled ~ .btn--dark {
		background-color: rgba(0, 0, 0, 0.04);
  		border: solid 1px #dbdbdb;
  		color: #909090;
  		opacity: 0.5;
  		transform: translate(0,0);
  		cursor: default;
	}

}

.btn--dark {
	background: #e4e4e4;
	color: #313131;
	&:hover {
		background: #6e6e6e;
		color: #fff;
	}
}


// -----

.btn--chat {
	display: block;
	margin: 0 -30px -20px;
	border-radius: 0 0 4px 4px;
}


.btn--file {
	input {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		visibility: hidden;
	}
}


.btn-download {
	display: block;
	margin: 8px 0;
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
	color: rgba(#d64544,0.8);
	[class^="icon-"] {
		margin-right: 7px;
	}
	&:hover {
		color: $linkColorHover;
		.btn-download__name {
			border-color: $linkColorHover;
		}
	}
}

.btn-download__name {
	border-bottom: 1px dashed rgba(#d64544,0.8);
	margin: 0 5px 0 0;
	transition: inherit;
}

.btn-download__size {
	font-weight: 400;
	color: rgba(#000000, 0.8);
}


// -----

.btn--reset {
	background: none;
	border-color: none;
	color: $linkColor;
	&:hover {
		color: $linkColorHover;
	}
}

