// --------------------------------------------------------------------------
// Change
// --------------------------------------------------------------------------

.is-open .change {
	opacity: 1;
	visibility: visible;
}
.change {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	padding: 10px 20px;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	transition: 0.25s;
	opacity: 0;
	visibility: hidden;
	.row {
		min-width: 100%;
	}
	.form-field {
		margin: 0;
	}
	.form-select {
		margin: 0;
	}
}

.change-in {
	width: 100%;
}

.change__text {
	margin: 0 0 10px;
	display: block;
	overflow: hidden;
	flex: 1;
}

.change__cancel {
	border: none;
	padding: 0;
	cursor: pointer;
	background: none;
	font: 400 14px/17px $fontBase;
	color: $linkColor;
	transition: 0.25s;
	float: right;
	margin: 0 0 10px 10px;
	&:hover {
		color: $linkColorHover;
	}
}


.change__ctrl {
	display: flex;
	margin: 0 -5px;
	.btn {
		margin: 0 5px;
	}
}

