// --------------------------------------------------------------------------
// Help
// --------------------------------------------------------------------------

.help {
	position: relative;
	display: block;
	max-width: 420px;
	background: #dfe5e7;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0;
	padding: 20px 24px 20px 44px;
	margin: 0 0 30px;
	border-radius: 0 4px 4px 4px;
	&:after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		bottom: 100%;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #dfe5e7;
	}
	[class^="icon-"] {
		position: absolute;
		top: 20px;
		left: 16px;
		color: #030104;
	}
}


.help__text {
	margin: 0;
}