// --------------------------------------------------------------------------
// Settings
// --------------------------------------------------------------------------

// Fonts

$fontBase: 'Proxima Nova', Helvetica, Arial, sans-serif;

// Bg

$baseBg: #EEF1F1;
$baseColor: #232221;

// Colors
$colorPrimary: #3579e3;
$colorDanger: #f0605f;
$colorWarning: #f1c000;
$colorMuted: #bfbfbf;
$colorSuccess: #00c731;
$colorError: #f00;

// Links

// $linkColor: #21afc8;
$linkColor: #f0605f;
$linkColorHover: #c13c3b;
$linkColorVisited: pink;


// Grid
$mobile-s: 420;
$mobile: 480;
$tablet: 768;
$desktop: 992;
$wide: 1200;
$hd: 1680;
