/* ==========================================================================
   Typography
   ========================================================================== */


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic,cyrillic-ext,latin-ext');

body {
    background: $baseBg;
    color: $baseColor;
    font: 400 14px/1.214 $fontBase;
    letter-spacing: 0.3px;
    
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    line-height: 1.222;
    margin: 0 0 20px;
}

h1 {
    font-size: 36px;
    letter-spacing: 0.8px;
    @include breakpoint(sm) {
        font-size: 47px;
        letter-spacing: 1.1px;
    }
}

h2 {
    font-size: 26px;
    @include breakpoint(sm) {
        font-size: 37px;
        letter-spacing: 1.1px;
    }
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}



ul, ol, dl, p, figure {
    margin: 0 0 20px;
}

li {
    margin: 0 0 20px;
}

img {
    max-width: 100%;
}

hr {
    display: block;
    border: none;
    border-top: 1px solid rgba(227,227,227,.5);
    margin: 20px 0;
}

blockquote {
    border-left: 5px solid #010101;
    padding: 5px 0 5px 30px;
    margin: 0 0 25px;
    font-size: 16px;
    font-style: italic;
}

fieldset {
    padding: 0;
    border: none;
    margin: 0 0 20px;
}

label {
    display: block;
    margin: 0 0 10px;
}


a {
    transition: color 0.15s, border-color 0.15s;
    color: $linkColor;
    text-decoration: none;
    &:hover {
        color: $linkColorHover;
        text-decoration: none;
    }
}

mark {
    background: none;
    color: #f26f21;
}


label {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 5px;
}


* {
    outline: none;
}