---
title: Сотрудники - Velvet-pro
bodyClass: page-team
---
extends modules/_app
block main

	// Team :: Start
	.team
		.container-fluid

			h1.team-heading Сотрудники

			.team-sorting
				form(action="#")
					.team-sorting__search
						label.form-label Поиск по имени
						label.form-field
							input(type="search" placeholder="Искать").form-input.form-input--small.form-input--grey.js-isotope-autocomplete
							span.form-field__icon
								+sprite('icon-search')
							button.form-field__clear.js-isotope-clear
								+sprite('icon-close-min')
					.team-sorting__buttons
						.row
							.col-auto
								label.btn-check(data-sort-by="*")
									input(type="radio" name="radioTeam" checked).btn-check__input
									span.btn.btn--small.btn--grey Все
							.col-auto
								label.btn-check(data-sort-by=".is-director")
									input(type="radio" name="radioTeam").btn-check__input
									span.btn.btn--small.btn--grey Руководители ОП
							.col-auto
								label.btn-check(data-sort-by=".is-manager")
									input(type="radio" name="radioTeam").btn-check__input
									span.btn.btn--small.btn--grey Менеджеры
							.col-auto
								label.btn-check(data-sort-by=".is-designer")
									input(type="radio" name="radioTeam").btn-check__input
									span.btn.btn--small.btn--grey Дизайнеры
							.col-auto
								label.btn-check(data-sort-by=".is-booker")
									input(type="radio" name="radioTeam").btn-check__input
									span.btn.btn--small.btn--grey Бухгалтеры
							.col-auto
								label.btn-check(data-sort-by=".is-printer")
									input(type="radio" name="radioTeam").btn-check__input
									span.btn.btn--small.btn--grey Печатники
							.col-auto
								label.btn-check(data-sort-by=".is-logist")
									input(type="radio" name="radioTeam").btn-check__input
									span.btn.btn--small.btn--grey Логисты
							.col-auto
								label.btn-check(data-sort-by=".is-admin")
									input(type="radio" name="radioTeam").btn-check__input
									span.btn.btn--small.btn--grey Администраторы
							.col-auto
								label.btn-check(data-sort-by=".is-leader")
									input(type="radio" name="radioTeam").btn-check__input
									span.btn.btn--small.btn--grey Начальники цеха обработки


			p.team-empty.js-isotope-empty Ничего не найдено

			.team-grid.js-isotope-grid
				.team-grid__item.is-director

					.team-user
						figure.team-user__photo
						p.team-user__position Руководитель ОП
						b.team-user__name Воробьев Михаил
						ul.team-user__contacts
							li
								a(href="#") m.vorobiev@velvet-pro.ru
							li
								a(href="#") 8 (999) 999-99-99
						a(href="#").btn.btn--small.btn--grey Редактировать

				.team-grid__item.is-manager

					.team-user
						figure.team-user__photo
						p.team-user__position Менеджер
						b.team-user__name Семён Зимин
						ul.team-user__contacts
							li
								a(href="#") m.vorobiev@velvet-pro.ru
							li
								a(href="#") 8 (999) 999-99-99
						a(href="#").btn.btn--small.btn--grey Редактировать

				.team-grid__item.is-designer

					.team-user
						figure.team-user__photo
						p.team-user__position Дизайнер
						b.team-user__name Анастасия Ефимова
						ul.team-user__contacts
							li
								a(href="#") m.vorobiev@velvet-pro.ru
							li
								a(href="#") 8 (999) 999-99-99
						a(href="#").btn.btn--small.btn--grey Редактировать

				.team-grid__item.is-booker

					.team-user
						figure.team-user__photo
						p.team-user__position Бухгалтер
						b.team-user__name Николай Куликов
						ul.team-user__contacts
							li
								a(href="#") m.vorobiev@velvet-pro.ru
							li
								a(href="#") 8 (999) 999-99-99
						a(href="#").btn.btn--small.btn--grey Редактировать

				.team-grid__item.is-printer

					.team-user
						figure.team-user__photo
						p.team-user__position Печатник
						b.team-user__name Авдотья Ершова
						ul.team-user__contacts
							li
								a(href="#") m.vorobiev@velvet-pro.ru
							li
								a(href="#") 8 (999) 999-99-99
						a(href="#").btn.btn--small.btn--grey Редактировать

				.team-grid__item.is-logist

					.team-user
						figure.team-user__photo
						p.team-user__position Логист
						b.team-user__name Милена Макарова
						ul.team-user__contacts
							li
								a(href="#") m.vorobiev@velvet-pro.ru
							li
								a(href="#") 8 (999) 999-99-99
						a(href="#").btn.btn--small.btn--grey Редактировать

				.team-grid__item.is-admin

					.team-user
						figure.team-user__photo
						p.team-user__position Администратор
						b.team-user__name Динар Румянцев
						ul.team-user__contacts
							li
								a(href="#") m.vorobiev@velvet-pro.ru
							li
								a(href="#") 8 (999) 999-99-99
						a(href="#").btn.btn--small.btn--grey Редактировать

				.team-grid__item.is-leader

					.team-user
						figure.team-user__photo
						p.team-user__position Начальник цеха обработки
						b.team-user__name Игнат Жуков
						ul.team-user__contacts
							li
								a(href="#") m.vorobiev@velvet-pro.ru
							li
								a(href="#") 8 (999) 999-99-99
						a(href="#").btn.btn--small.btn--grey Редактировать

				.team-grid__item.is-manager

					.team-user
						figure.team-user__photo
						p.team-user__position Менеджер
						b.team-user__name Олеся Фролова
						ul.team-user__contacts
							li
								a(href="#") m.vorobiev@velvet-pro.ru
							li
								a(href="#") 8 (999) 999-99-99
						a(href="#").btn.btn--small.btn--grey Редактировать

				.team-grid__item.is-designer

					.team-user
						figure.team-user__photo
						p.team-user__position Дизайнер
						b.team-user__name Кристина Гриднева
						ul.team-user__contacts
							li
								a(href="#") m.vorobiev@velvet-pro.ru
							li
								a(href="#") 8 (999) 999-99-99
						a(href="#").btn.btn--small.btn--grey Редактировать

			
	// Team :: End