// .icon {
// 	display: inline-block;
// 	width: 1em;
// 	height: 1em;
// 	fill: currentColor;
// }

.icon-add {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
}
.icon-applepay {
	display: inline-block;
	vertical-align: middle;
	width: 48px;
	height: 29px;
}
.icon-arrow-down {
	display: inline-block;
	vertical-align: middle;
	width: 8px;
	height: 6px;
}
.icon-arrow-left {
	display: inline-block;
	vertical-align: middle;
	width: 8px;
	height: 6px;
}
.icon-arrow-right {
	display: inline-block;
	vertical-align: middle;
	width: 8px;
	height: 6px;
}
.icon-autocomlete {
	display: inline-block;
	vertical-align: middle;
	width: 31px;
	height: 33px;
}
.icon-back {
	display: inline-block;
	vertical-align: middle;
	width: 9px;
	height: 16px;
}
.icon-basis {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
}
.icon-calendar {
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 14px;
}
.icon-change {
	display: inline-block;
	vertical-align: middle;
	width: 37px;
	height: 45px;
}
.icon-chat {
	display: inline-block;
	vertical-align: middle;
	width: 17px;
	height: 16px;
}
.icon-check {
	display: inline-block;
	vertical-align: middle;
	width: 11px;
	height: 9px;
}
.icon-close {
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	height: 14px;
}
.icon-close-min {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
}
.icon-deactivate {
	display: inline-block;
	vertical-align: middle;
	width: 37px;
	height: 45px;
}
.icon-download {
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 16px;
}
.icon-edit {
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 13px;
}
.icon-empty {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 54px;
}
.icon-exit {
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 13px;
}
.icon-file {
	display: inline-block;
	vertical-align: middle;
	width: 17px;
	height: 14px;
}
.icon-file-ai {
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	height: 40px;
}
.icon-file-cdr {
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	height: 40px;
}
.icon-file-doc {
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	height: 40px;
}
.icon-file-eps {
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	height: 40px;
}
.icon-file-jpg {
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	height: 40px;
}
.icon-file-pdf {
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	height: 40px;
}
.icon-file-psd {
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	height: 40px;
}
.icon-file-search {
	display: inline-block;
	vertical-align: middle;
	width: 19px;
	height: 19px;
}
.icon-file-tiff {
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	height: 40px;
}
.icon-file-xlsx {
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	height: 40px;
}
.icon-heels {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 11px;
}
.icon-help {
	display: inline-block;
	vertical-align: middle;
	width: 17px;
	height: 17px;
}
.icon-info {
	display: inline-block;
	vertical-align: middle;
	width: 17px;
	height: 17px;
}
.icon-loading {
	display: inline-block;
	vertical-align: middle;
	width: 23px;
	height: 23px;
}
.icon-logo {
	display: inline-block;
	vertical-align: middle;
	width: 135px;
	height: 55px;
}
.icon-mastercard {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 31px;
}
.icon-mir {
	display: inline-block;
	vertical-align: middle;
	width: 47px;
	height: 14px;
}
.icon-next {
	display: inline-block;
	vertical-align: middle;
	width: 17px;
	height: 31px;
}
.icon-next-min {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 50px;
}
.icon-notice {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 25px;
}
.icon-pencil {
	display: inline-block;
	vertical-align: middle;
	width: 11px;
	height: 11px;
}
.icon-photo {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 14px;
}
.icon-pic {
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
}
.icon-prev {
	display: inline-block;
	vertical-align: middle;
	width: 17px;
	height: 31px;
}
.icon-prev-min {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 50px;
}
.icon-search {
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	height: 14px;
}
.icon-settings {
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 13px;
}
.icon-size {
	display: inline-block;
	vertical-align: middle;
	width: 8px;
	height: 8px;
}
.icon-status-success {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
}
.icon-status-wait {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
}
.icon-success {
	display: inline-block;
	vertical-align: middle;
	width: 23px;
	height: 23px;
}
.icon-team {
	display: inline-block;
	vertical-align: middle;
	width: 11px;
	height: 14px;
}
.icon-user {
	display: inline-block;
	vertical-align: middle;
	width: 28px;
	height: 28px;
}
.icon-visa {
	display: inline-block;
	vertical-align: middle;
	width: 45px;
	height: 15px;
}
.icon-yamoney {
	display: inline-block;
	vertical-align: middle;
	width: 26px;
	height: 34px;
}

